.login-by-Oauth2 {
  text-align: center;
}

.btn-login-facebook, .btn-login-google {
  padding: 10px 100px;
  border-radius: 10px;
  margin: 0 5px;
  display: inline-block;
}

.btn-login-facebook {
  background: #3742fa;
  border: 2px solid #3742fa;
  color: white;
}

.btn-login-facebook:hover {
  color: white; 
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.14);
  transition: all 0.25s;
}

.btn-login-google {
  background: #eb2f06;
  border: 2px solid #eb2f06;
  color: white;
}

.btn-login-google:hover {
  color: white;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.14);
  transition: all 0.25s;
}