if success.length
  script.
    $(document).ready(function() {
      showsigninModal();
    })
  each val in success
    .alert.alert-success.mt-1(role='alert')=val

if errors.length
  script.
    $(document).ready(function() {
      showSignupModal();
    })
  each val in errors
    .alert.alert-danger.mt-1(role='alert')=val