if getAllFriend.length
  each user in getAllFriend
    .col-md-3
      .user.text-center
        img.rounded-circle(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar")
        a.btn(href="")
          span.badge.badge-success=user.username